.homepage-rec{
    height: 10rem;
    width: 100%;
}

.homepage-prod{
    float: left;
    display: flex;
}

.am-panel-bd{
    /*width: 15rem;*/
    height: 18rem;
    float:left;
}
.am-img-responsive{
    width: 14rem;
    height: 12rem;
}