{% extends "shop/base_page.html" %}
{% load staticfiles %}
{% block css_js_section %}
    <script src="{% static "shop/mine/js/checkout.js" %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static "shop/mine/css/checkout.css" %}" />
{% endblock css_js_section %}

{% block base_content %}
{#        首页对应的内容#}


	<div class="gray-panel">
    	<div class="paoduct-title-panel">
        	<h2 class="checkout-h2"><span class="am-badge am-round am-badge-warning ">1</span> 确认订单信息</h2>
			<div class="cart-list-panel">
                <ul class="am-avg-sm-1 cart-panel-ul">
                    {% for cart in cartlist %}
                        <li>
                            <div class="imgpanel"><a href=""><img src="{{ cart.product.prod_img.url }}" class="am-img-responsive" /></a></div>
                            <div class="infopanel coprodinf">
                                <h3><a href="">{{ cart.product.prod_name | slice:"15" }}</a></h3>
                                <p>品牌：{{ cart.product.prod_brand }}</p>
                                <p>价格：<span class="red2 bold">{{ cart.product.prod_price }}元</span> </p>
                                <p>数量：<span class="red2 bold"> {{ cart.prod_num }} </span></p>

    {#                            <p>运费：<span class="red2 bold">3</span> 元</p>#}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cart_foot">共<span class="red2 bold" id="total_good">{{ cartlist.count }}</span>件商品；总价：<span class="red2 bold" id="total_amount">{{ total_price }}</span>元</div>
            <div class="cart-tool">
                <a class="am-btn am-btn-sm am-btn-success am-radius" href="{% url 'cart' %}">
                  <i class="am-icon-chevron-left"></i>
                  返回购物车
                </a>
            </div>
        </div>
        <div class="my-search-title-panel am-text-sm am-margin-bottom-sm"><i class="am-icon-lightbulb-o am-text-danger"></i> 提示：实际的运费可能因为收货地址的不同而有差异，具体以提交之后系统计算或卖家协商为准</div>

        <!-- 收货地址 -->
        <div class="paoduct-title-panel">
        	<h2 class="checkout-h2"><span class="am-badge am-round am-badge-warning ">2</span> 确认收货地址</h2>
            <p><i class="am-icon-location-arrow"></i> 收货地址</p>
            <form class="am-form am-form-inline">
                <select class="select-area am-radius adsselect" id="adsselectid">
                    <option class="select2-results__option" value="">请选择地址</option>
                    {% for ads in addresslist %}
                        <option class="select2-results__option" value="{{ ads.id }}">{{ ads.addressname }}</option>
                    {% endfor %}
                </select>
            </form>
            <p >
                <div class="co-adsdetail" id="coadsid">
                    {% include "shop/function/checkout-address.html" %}

                 </div>
            </p>
        </div>
        {# 收货地址结束 #}

        <div class="paoduct-title-panel">
        	<h2 class="checkout-h2"><span class="am-badge am-round am-badge-warning ">3</span> 支付方式</h2>
            <ul class="am-list am-text-sm my-pay-ul">
            	<li><a href="javascript:;" rel="1" class="hover"><span class="am-fr"><i class="am-icon-check-circle"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'shop/default/wechat.png' %}" class="payimg" />&nbsp;&nbsp;&nbsp;&nbsp;微信支付</a></li>
                <li><a href="javascript:;" rel="2"><span class="am-fr"><i class="am-icon-circle-thin"></i>&nbsp;&nbsp;</span><img src="{% static 'shop/default/alipay.png' %}" class="payimg" /> 支付宝支付</a></li>
                <input type="hidden" id="paytype" value="1"/>
            </ul>

            {# javascript #}
            <script type="text/javascript">

			</script>
            <div>
            	<ul class="am-avg-sm-2 am-text-center">
                	<li class="am-text-center am-padding-sm"><button type="button" class="am-btn am-btn-danger am-btn-block am-radius" id="commitorder">提交订单</button></li>
                    <li class="am-text-center am-padding-sm"><button type="button" class="am-btn am-btn-success am-btn-block am-radius" id="recartpage">继续购物</button></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">


    </script>
{% endblock %}
