{% extends "shop/base_page.html" %}
{% load staticfiles %}
{% block css_js_section %}
    <script src="{% static "shop/mine/js/mine.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "shop/mine/css/mine.css" %}" />
{% endblock css_js_section %}

{% block top-left-icon %}
  {% include "shop/function/return_back.html" %}
{% endblock %}


{% block base_content %}
{#        首页对应的内容#}

	{% include "shop/function/userinfo.html" %}

    
    <div class="am-cf uchome-apps">
    	<ul class="am-avg-sm-3 uchome-apps-ul">
        	<li><a href="#"><p class="imgp"><img src="../../static/shop/default/uhomeapp1.png" class="am-img-responsive" /></p><p class="namep">我的订单</p><p class="lastp">0笔</p></a></li>
            <li><a href="#"><p class="imgp"><img src="../../static/shop/default/uhomeapp4.png" class="am-img-responsive" /></p><p class="namep">购物车</p><p class="lastp">0件</p></a></li>
            <li><a href="#"><p class="imgp"><img src="../../static/shop/default/uhomeapp7.png" class="am-img-responsive" /></p><p class="namep">收藏商品</p><p class="lastp">0件</p></a></li>
            <li><a href="#"><p class="imgp"><img src="../../static/shop/default/uhomeapp11.png" class="am-img-responsive" /></p><p class="namep">收货地址</p><p class="lastp">0条</p></a></li>
            <li><a href="#"><p class="imgp"><img src="../../static/shop/default/uhomeapp12.png" class="am-img-responsive" /></p><p class="namep">我的消息</p><p class="lastp">0条</p></a></li>
        </ul>
    	
    </div>
    
    
{% endblock base_content %}
