<li class="btnlicls">
     <button type="button" class="am-btn am-btn-default cg-list-icon getgaidbysub" style="float:left"  id="cgsubbtn{{ prod.prod_id }}" ga="{{ prod.prod_id }}"  ><i class="am-icon-minus"></i></button>
     <span class="cg-list-icon" id="cgnumbtn{{ prod.prod_id }}" >{% if prod.cartnum %}{{ prod.cartnum }}{% else %} 0 {% endif %}</span>
     <button type="button" class="am-btn am-btn-default cg-list-icon getgaidbyadd" style="float:left" id="cgaddbtn{{ prod.prod_id }}" ga="{{ prod.prod_id }}"  ><i class="am-icon-plus"></i></button>
</li>